[Desktop Entry]
Type=Application
Name=WinApps
Name[de]=WinApps
Comment=Install and run Windows programs on BlossomOS
Comment[de]=Windows-Programme unter BlossomOS installieren und ausführen
Icon=org.blossomos.winapps
Exec=winapps %f
MimeType=application/vnd.microsoft.portable-executable;application/x-msdownload;application/x-ms-dos-executable;application/x-dosexec;application/x-msi;
Categories=Utility;
Terminal=false
StartupNotify=true
